@model IList<AllergenAlertMVC.Models.Restaurant>

<h1>@ViewBag.Title</h1>

<table class="table">

    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
    </tr>

    @foreach (var restaurant in Model)
    {
        <tr>
            <td>@restaurant.Name</td>
            <td>@restaurant.Address</td>
            <td>@restaurant.Phone</td>
        </tr>
    }
</table>

@if (Model.Count == 0)
{
    <p>NO RESTAURANT DATA YET!</p>
}

<p><a asp-controller="Restaurant" asp-action="Add">Add | Remove</a></p>
